node_modules
dist
build
.next
out
coverage
flow-typed
*.log
*.lock
yarn-error.log
pnpm-debug.log
.git
.gitignore
.husky/_
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.db
*.sqlite
public/locales
/*.min.js
package-lock.json
pnpm-lock.yaml
\.vscode
*.d.ts
*.map
